<div class="profile_card" id="profile_card">

  <div class="p-details">
    <p class="p-member__type">pro</p>
    <div class="p-details__avatar__wrapper">
      <div class="p-details__avatar">
        <img class="p-details__avatar__img"
             src="https://blob.sololearn.com/avatars/e0886b9e-c13c-4e24-be92-0dd9018cf258.jpg" alt="">
      </div>
      <div class="p-details__badge"></div>
    </div>
    <div class="p-details__info">
      <h1 class="p-details__name">MUNDALAMO KHARENDWE</h1>
      <div class="p-details__bio">
        <p>IG - ZOERAK and i am looking for a relationship which has the potential to be sexual in nature.</p>
      </div>

      <div class="p-details__follows">
        <button><span class="p-details__followers">930</span> Matched</button>
        <button><span class="p-details__following">27</span> Potential Match</button>
      </div>
    </div>
  </div>

  <div class="p-usercode">
    <h3>Account Settings</h3>
    <ul class="code-list">
      <li>

        <div class="item-details">
          <h4>manage payment</h4>

        </div>
      </li>

      <li>

        <div class="item-details">
          <h4>restore purchases</h4>

        </div>
      </li>
    </ul>

  </div>

  <div class="p-usercode">
    <h3>Discovery Settings</h3>
    <ul class="code-list">
      <li>

        <div class="item-details">
          <h4>Code Item Title 1</h4>
          <p>Code Item Description 1</p>
        </div>
      </li>

      <li>

        <div class="item-details">
          <h4>Code Item Title 2</h4>
          <p>Code Item Description 2</p>
        </div>
      </li>
    </ul>

  </div>
</div>
